<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<title>Colorizer</title>
    <link rel="icon" href="https://www.w3schools.com/colors/img_colormap.gif" type="image/x-icon"/>,
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
<body> 
	<header> 
        <h1>Welcome to Colorizer</h1> 
        <p> 
            
Simply upload an image, and this website will promptly generate a report detailing the ten most frequently used colors within it, complete with their corresponding hex codes. In the event of a tie between two colors in terms of usage frequency, both will be showcased in the analysis, ensuring a comprehensive overview of the predominant hues present in your image.
        </p> 
    </header>
	<form action = "/" method = "POST" enctype = "multipart/form-data"> 
		<input type = "file" class="choose-file" name = "file" required /> 
		<br> 
		<h2>Select a Colour Code:</h2> 
        <select name="colour_code" required>
            <option value="" disabled selected>Select an option.</option>
            <option value="rgb">RGB</option>
            <option value="hex">Hex</option>
        </select>
		<br> 
		<input type = "submit"/> 
	</form> 
    <main> 
        {% for color in colors_list['colors'] %} 
            <div class="pair"> 
                {% if colors_list['code'] == 'rgb' %} 
                    <div class="color-box" style="background-color: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }});"></div> 
                    <div class="color-box-value"> {{ loop.index }}: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }})</div> 
                {% else %} 
                    <div class="color-box" style="background-color: #{{ color }};"></div> 
                    <div class="color-box-value"> {{ loop.index }}: #{{ color }}</div> 
                {% endif %} 
            </div>
        {% endfor %} 
    </main>
    
    

</body> 
</html>
